
    <main>
        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="./images/me.jpg" alt="Tushar" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-8">
                        <h2>About Me</h2>
                        <p>
                            I'm Tushar Bhanot, a dedicated app and web developer. I create user-friendly web
                            applications and mobile apps
                            with a passion for technology. With a strong foundation in computer science and years of
                            experience, I enjoy
                            solving challenges and staying updated on tech trends.
                        </p>
                        <p>
                            My goal is to craft efficient and elegant digital solutions. I believe technology can
                            improve lives, and I'm
                            committed to achieving this through my work. I'm also an advocate for open-source
                            development and enjoy
                            contributing to the developer community.
                        </p>
                        <p>
                            When I'm not coding, I'm exploring new technologies, participating in hackathons, and
                            sharing knowledge through
                            workshops. I'm excited about the future of app and web development and always open to new
                            projects and
                            connections.
                        </p>

                    </div>
                    <section class="skills-section py-5">
                        <div class="container">
                            <h2 class="text-center text-primary mb-4">My Superpowers</h2>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="skill-item text-center p-4 mb-4">
                                        <img src="./images/frontEnd.png" alt="Front-end Development"
                                            class="img-fluid mb-3">
                                        <h4>Front-end Development</h4>
                                        <p>Mastering the art of creating stunning user interfaces with fxml, Android
                                            studio, HTML, CSS and JavaScript.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="skill-item text-center p-4 mb-4">
                                        <img src="./images/backEnd.png" alt="Back-end Development"
                                            class="img-fluid mb-3">
                                        <h4>Back-end Development</h4>
                                        <p>Architecting robust server-side applications using Node.js, Java, Swift and
                                            PHP.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="skill-item text-center p-4 mb-4">
                                        <img src="./images/database.png" alt="Database Management"
                                            class="img-fluid mb-3">
                                        <h4>Database Management</h4>
                                        <p>Efficiently managing databases like MySQL and Microsoft SQL to make more
                                            comprehensive and easily executable applications.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                </div>
            </div>
        </section>
    </main>
