<section class="experience-section">
  <div class="container">
    <h2>My Experience</h2>
    <p>
      I've had the privilege of working on a diverse range of projects, from
      designing responsive websites and e-commerce platforms to developing
      interactive web applications. This experience has not only honed my skills
      but also ignited my passion for creating seamless and innovative digital
      solutions.
    </p>
    <p>
      My mission is to keep pushing the boundaries of what's possible in the
      world of app and web development. Whether it's optimizing app performance,
      crafting elegant user interfaces, or tackling complex backend challenges,
      I thrive on finding creative solutions and delivering outstanding results.
    </p>
    <br />
    <br />
  </div>
</section>

<section class="portfolio-section bg-light">
  <div class="container">
    <h3>My Portfolio</h3>
    <div class="row">
      <div class="col-md-4">
        <div cnlass="card">
          <img
            src="/ASSIGNMENT01/views/images/Screenshot 2023-10-14 112226.png"
            class="card-img-top"
            alt="Project 1"
          />
          <div class="card-body">
            <h5 class="card-title">Calculator, using Android studio</h5>
            <p class="card-text">i have made several calculator applications
              using android studio for my 3rd sem java course, in which i
              learned a lot about UI/UX aswell and can now develop attractive
              and well functioning application with complicated calculations</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/ASSIGNMENT01/views/images/Screenshot 2023-10-14 112702.png"
            class="card-img-top"
            alt="Project 2"
          />
          <div class="card-body">
            <h5 class="card-title">Scrabble game: xml project</h5>
            <p class="card-text">I have a pretty good hold on xml projects. I
              have practiced and made quite a lots of xml projects throughout my
              programming course during my college degree using java.fx. I have
              learnt to manage and operate such fxml projects on an intemediate
              scale.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/ASSIGNMENT01/views/images/Screenshot 2023-10-14 123412.png" class="card-img-top" alt="Project 3" />
          <div class="card-body">
            <h5 class="card-title">Web project, using html, css and js</h5>
            <p class="card-text">i have developed a lots of website, using html,
              css, php, js adding sql to the sites and a lot througout the
              assigned courses each sem. During these assignments, i learned a
              lot about frontend, backend and database level of web development
              and have eversince inreased my skills.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>